version: "3.6"

services:
  nginx:
    command: ["nginx", "-c", "/nginx_conf/nginx.conf", "-g", "daemon off;"]
    container_name: docere_nginx
    env_file:
      - ../../.env
    image: nginx:1.19.6-alpine
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./nginx.conf:/nginx_conf/nginx.conf
      - ./nginx.server.conf:/etc/nginx/templates/default.conf.template
      - ./secrets:/var/www/secrets
      - ../../public:/var/www/html

  api:
    build:
      context: ../../
      dockerfile: ./packages/api/Dockerfile
    command: ["npx", "nodemon", "./packages/api", "-w", "./packages/api/build/api", "-w", "./packages/api/build.puppenv.data"]
    container_name: docere_api
    env_file:
      - ../../.env
    ports:
      - "3000:3000"
    restart: always
    volumes:
      - ../../:/app
    working_dir: /app

  db:
    container_name: docere_db
    env_file:
      - ../../.env
    image: postgis/postgis:13-3.1-alpine
    ports:
      - 5432:5432
    volumes:
      - db_dev:/var/lib/postgresql/data

  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.6.0
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    restart: always
    ports:
      - 9200:9200
    volumes:
      - es_dev:/usr/share/elasticsearch/data

volumes:
  db_dev:
    driver: local
  es_dev:
    driver: local
