node_modules
lerna-debug.log
build
build2
build.puppenv.data
dist
docs
tsconfig.tsbuildinfo
DEPLOY.md
INTERNAL*
README_INTERNAL.md
.env*

build-dev-server
packages/docker/secrets

packages/projects/src/**/xml
packages/projects/src/**/data
packages/projects/src/**/facsimiles
packages/projects/src/achterdeschermen

packages/search/types
packages/text/types

public/js
public/index.html
