node_modules
lerna-debug.log
build
dist
tsconfig.tsbuildinfo

packages/docker/secrets

packages/projects/src/**/xml
packages/projects/src/**/data
packages/projects/src/**/facsimiles
packages/projects/src/achterdeschermen

packages/search/types
packages/text/types
