@font-face {
	font-family: "Merriweather";
	src: url('/static/merriweather/Merriweather-Light.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Merriweather";
	src: url('/static/merriweather/Merriweather-LightItalic.ttf');
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Merriweather";
	src: url('/static/merriweather/Merriweather-Bold.ttf');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Merriweather";
	src: url('/static/merriweather/Merriweather-BoldItalic.ttf');
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: "RobotoMono";
	src: url('/static/roboto/mono/RobotoMono-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Roboto";
	src: url('/static/roboto/Roboto-Light.ttf');
	font-style: normal;
	font-weight: normal;
}
html, body {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
	width: 100%;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
input {
	font-family: Roboto, sans-serif;
}
#container {
	width: 100%;
}
